@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Amatic+SC:400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, p, a {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3 {
  font-weight: bold;
  margin: 0 0 7px;
  color: #efefef; }

a {
  color: #efefef;
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

p {
  -webkit-font-smoothing: antialiased; }

.pane {
  background: rgba(30, 17, 39, 0.97);
  color: #ccc;
  line-height: 1.4;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 25px auto; }

.wrapper {
  width: 95%;
  margin: 0 auto; }

body {
  background: #000;
  background: url("../../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

#header {
  margin: 15px 0 0 0; }
  #header h1#logo {
    float: left;
    font-family: 'Amatic SC', cursive;
    margin: 5px 0 0 0;
    font-size: 23pt;
    width: 14%; }
  #header #nav {
    float: right;
    width: 60%;
    margin: 10px 0 0 0;
    max-width: 550px; }
    #header #nav li {
      float: left;
      margin: 0 1.5% 0 0; }
      #header #nav li:last-child {
        margin-right: 0; }
      #header #nav li a {
        color: #3d2350;
        display: block;
        background-color: #854db0;
        padding: 4px 7px;
        border-radius: 3px;
        font-size: 14pt;
        transition: background-color 100ms linear; }
        #header #nav li a:hover, #header #nav li a.active {
          color: #3d2350;
          background-color: #a981c8; }
