@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Amatic+SC:400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #C4E8E7;
  background-size: 100%; } 

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, p, a {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3 {
  font-weight: bold;
  margin: 0 0 7px;
  color: #efefef; }

a {
  color: #68aea4;
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

p {
  -webkit-font-smoothing: antialiased; }

.pane {
  background: rgba(158,218,216,0.8) ;
  color: #172d2c;
  line-height: 1.4;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 25px auto; }

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 960px; }

#main.wrapper {
  margin-bottom: 50px;
  margin-top: 95px; }

#header {
  background: rgba(103, 197, 194, 0.8) ;
  padding: 10px 0 17px;
  margin: 0;
  border-bottom: 2px solid #eff9f8;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999; }
  #header .wrapper {
    max-width: 1300px; }
  #header h1#logo:before{
    position:left;
    content: url("../../img/logo1.png");
    margin: 20px 0 0 0;}
   
  #header h1#logo {
    float: left;
    font-family: 'Lobster', cursive;
    margin: 0 0 0 10px;
    font-size: 32pt;
    width: 50%;
    height: 90px;
    text-shadow: 1px 1px 0px #Ec1515; }
  #header #nav {
    float: right;
    width: 60%;
    margin: 70px 0 0 0;
    max-width: 550px; }
    #header #nav li {
      float: left;
      margin: 0 1.5% 0 0; }
      #header #nav li:last-child {
        margin-right: 0; }
      #header #nav li a {
        color: #7d3032;
        display: block;
        background-color: #FBF9D7;
        padding: 4px 7px;
        border-radius: 3px;
        font-size: 14pt;
        transition: background-color 100ms linear; }
        #header #nav li a:hover, #header #nav li a.active {
          color: #7d3032;
          background-color: #FDFDF3; }

#hero-wrapper {
  margin: 0 0 70px;
  width: 94%;
  margin: 170px auto 10px;
  overflow: hidden; }
  #hero-wrapper .inner {
    background: #333;
    border: 10px solid #eff9f8;
    height: 275px;
    overflow: hidden;
    margin-bottom: 10px; }

#hero li {
  height: 280px;
  float: left;
  margin: 0 100px 0 0;
  display: none; }
  #hero li.active {
    display: block; }

ul.sub-nav {
  margin: 0;
  float: right; }
  ul.sub-nav li {
    float: left;
    margin: 0 7px 0 0; }
    ul.sub-nav li:last-child {
      margin-right: 0; }
    ul.sub-nav li a {
      display: block;
      width: 15px;
      height: 15px;
      background: #eff9f8;
      border: 1px solid #519b98; }
    ul.sub-nav li.active a {
      background-color: #376967; }

#home-ctas .pane:first-child {
  width: 75%;
  margin: 0px 2% 0 0;
  float: left; }

#home-ctas .pane:last-child {
  margin: 0; }

#home-ctas #fromTheBlog {
  width: 22%;
  color: #fff;
  float: right; }
  #home-ctas #fromTheBlog li.headline {
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 1px 1px 0px #Ec1515;
    margin-bottom: 10px; }

#footer {
  background: rgba(103, 197, 194, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eff9f8; }
  #footer .wrapper {
    max-width: 1250px;
    position: relative;
    padding: 16px 0; }
  #footer #copy, #footer #social {
    top: 2px;
    color: #3373cc; }
  #footer #copy {
    position: absolute;
    left: 0;
    top: 7px; }
  #footer #social {
    position: absolute;
    right: 0; }
    #footer #social li {
      float: left;
      margin: 0 7px 0 0;
      color: #fff; }
      #footer #social li i {
        color: #3373cc;
        font-size: 20pt;
        transition: background-color 500ms linear; }
        #footer #social li i:hover {
          color: #d9e9ff; }
