@import 'partials/fonts';
@import 'partials/global';
@import 'partials/colors';



.wrapper { width: 95%; margin: 0 auto;  max-width: 960px; }
#main.wrapper { margin-bottom:  50px; margin-top: 95px; }
body { background: $mainColor;  background: url('../../img/bg.jpg'); background-repeat: no-repeat; background-size: 100%; }
#header {
	background: rgba(37, 72, 70, 0.8);
	padding: 10px 0 17px;
	.wrapper { max-width: 1300px; }
	margin: 0;
	border-bottom: 1px solid darken($secondaryColor, 15%);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99999;

	h1#logo { float: left; font-family: 'Amatic SC', cursive; margin: 5px 0 0 0; font-size: 23pt; width: 14%; text-shadow: 1px 2px 0px #000; }

	#nav {
		float: right;
		width: 60%;
		margin: 10px 0 0 0;
		max-width: 550px;

		li {
			float: left;
			margin: 0 1.5% 0 0;
			&:last-child{
				margin-right: 0;
			}
			a {
			  color: darken($linkColor, 27%);
			  display: block;
			  background-color: $linkColor;
			  padding: 4px 7px;
			  border-radius: 3px;
			  font-size: 14pt;
			  transition: background-color 100ms linear;
			  &:hover, &.active {
				color: darken($linkColor, 27%);
				background-color: lighten($linkColor, 15%);
			  }
			}
		}
	}
}

#hero-wrapper {
	margin: 0 0 70px;
}

#hero {
	width: 94%;
	margin: 50px auto 10px;
	background: #333;
	border: 10px solid #fff;
	height: 275px;

	li {}
}
ul.sub-nav {	
	margin: 0 1% 0;
  	float: right;

	li {
		float: left;
		margin: 0 7px 0 0;

		a {
			display: block;
			width: 25px;
			height: 25px;
			background: #fff;
			border: 1px solid #000;
		}
	}
}

#home-ctas {
	.pane:first-child {
	  	width: 75%;
  		margin: 0px 2% 0 0;
  		float: left;
	}

	.pane:last-child {
	  	margin: 0;
	}
	
	#fromTheBlog {
		li.headline { font-size: 20pt; font-weight: bold; font-family: 'Amatic SC', cursive; text-align: center; margin-bottom: 10px; }
		width: 22%;
		color: #fff;
  		float: right;
	}
}

#footer {
	background: $secondaryColor;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid darken($secondaryColor, 15%);
	
	.wrapper {
		max-width: 1250px;
		position: relative;
		padding: 16px 0;
	}

	#copy, #social { top: 2px; color: #3373cc; }
	#copy { position: absolute; left: 0; top: 7px;}
	#social { 
		position: absolute;
		right: 0;

		li {
			float: left;
			margin: 0 7px 0 0;
			color: #fff;
			i {
				color: #3373cc;
  				font-size: 20pt;
  				transition: background-color 500ms linear;
  				&: {
  					color: #d9e9ff;
  				}
			}
		}
	}
}
