@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/global';


.wrapper { width: 95%; margin: 0 auto;  max-width: 960px; }
#main.wrapper { margin-bottom:  50px; margin-top: 95px; }
#content { margin-top: 190px; }
body { background: $mainColor;  background-size: 100%; }
#header {
	background: rgba(103, 197, 194, 0.8);
	padding: 15px 0 50px;
	.wrapper { max-width: 1300px; }
	margin: 0;
	border-bottom: 2px solid #eff9f8;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99999;
	
	#phone {
		position: absolute;
  		right: 6%;
  		top: 15px;
  		color: $mainColor;
	}


	a#logo {
		display: block;
		height: 100px;
		position: absolute;
		width: 470px;
		background: url("../../img/logo1.png") 0 0 no-repeat;

		h1 {
			font-family: 'Lobster Two', cursive; 
			margin: 30px 0 0 0; 
			font-size: 28pt; 
			text-shadow: 1px 1px 0px #Ec1515; 
			text-align: right;
		}
	}
}

#nav {
	float: right;
	width: 60%;
	margin: 38px 0 0 0;
	max-width: 650px;

	li {
		float: left;
		margin: 0 1.5% 0 0;
		&:last-child{
			margin-right: 0;
		}
		a {
		  color: #7d3032;
		  display: block;
		  background-color: #FBF9D7;
		  padding: 4px 7px;
		  border-radius: 3px;
		  font-size: 14pt;
		  transition: background-color 100ms linear;
		  &:hover {
			color: #7d3032;
			background-color: #FDFDF3;
		  }
		}
		&.current-menu-item a { color: #7d3032; background-color: #FDFDF3; }
	}
}

#hero-wrapper {
	width: 94%;
	margin: 0 auto 10px;
	overflow: hidden;
	
	.inner {
		background: #333;
		border: 10px solid #eff9f8;
		height: 275px;
		overflow: hidden;
		margin-bottom: 10px;
	}

	#hero {
		li {
			height: 280px;
			float: left;
			margin: 0 100px 0 0;
			display: none;
			&.active { display: block; }
		}
	}

	ul.sub-nav {	
		margin: 0;
	  	float: right;
		li {
			float: left;
			margin: 0 7px 0 0;
			&:last-child { margin-right: 0; }

			a {
				display: block;
				width: 15px;
	  			height: 15px;
				background: #eff9f8;
				border: 1px solid #519b98;
			}
			&.active a {
			  background-color: #376967;
			}
		}
	}
}

#home-ctas {
	.pane {
	  	width: 95%;
  		margin: 20px auto 0;
	}

	#fromTheBlog {
		li.headline { font-size: 20pt; font-weight: bold; font-family: 'Amatic SC', cursive; text-align: center; margin-bottom: 10px; }
		width: 22%;
		color: #fff;
  		float: right;
	}
}

#footer {
	background: rgba(103, 197, 194, 0.8);
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #eff9f8;
	
	.wrapper {
		max-width: 1250px;
		position: relative;
		padding: 16px 0;
	}

	#copy, #social { top: 2px; color: #3373cc; }
	#copy { position: absolute; left: 0; top: 7px;}
	#social { 
		position: absolute;
		right: 0;

		li {
			float: left;
			margin: 0 7px 0 0;
			color: #fff;
			i {
				color: #3373cc;
  				font-size: 20pt;
  				transition: background-color 500ms linear;
  				
  				&:hover {
  					color: #d9e9ff;
  				}
			}
		}
	}
}	

.reader {
	width: 300px;
	height: 290px;
	float: left;
  	margin: 0 10px 10px 0;
  	position: relative;
  	&:hover { cursor: pointer; }

  	& > h2 { font-size: 22pt; text-align: center; color: $linkColor; }
  	.info {
  	  position: absolute;
	  top: 0;
	  left: 0;
	  background-color: #333;
	  height: 250px;
	  width: 100%;
	  color: #eee;
	  padding: 25px;
	  box-sizing: border-box;
	  z-index: 1;
  	}
	& > img { 
		width: 100%; 
		height: 250px; 
		z-index: 2;
  		position: relative;
	}
}

.peopleNav {
	width: 25%;
	float: left;
	li {
		margin: 0 0 25px 0;
		&.active a { border: 5px solid #333; }

		a {
			border: 5px solid $mainColor;
			display: block;
			img {
				width: 100%;
			}
		}
	}
}

.intro { margin-bottom: 25px; }

.bios { 
	h2, p { color: #555; }
	h2 { font-size: 22pt; }
	float: right; 
	width: 70%; 
	.bio { 
		display: none; 
		width: 0;
		overflow: hidden;
		h2 { margin: 25px 0 15px; }
	}
} 	